<LinkTo @route="index" class="col-10 col-md-6 menu-index">
    <figure class="d-flex justify-content-start align-items-center my-1">
        <img 
        class="col" alt="Ember Logo"
        src="https://aws1.discourse-cdn.com/business5/uploads/emberjs_public/original/2X/d/d6d44fc758dc698c21ac6f6bbf4a7ab01e245491.png">
        <figcaption class="col">
            <p class="my-0 mx-2">EmberJS Blog</p>
        </figcaption>
    </figure>
</LinkTo>