<p class="col-sm-6 col-md-9 col-lg-10 mb-0 pb-2 pb-sm-0">
    Copyright &copy; 2022, 
    <span itemprop="name">
        <a href="https://iurianu.rocks" rel="tag noopener noreferrer" target="_blank">Iulian Andriescu</a>
    </span>
</p>