{{page-title "Contact"}}

<HeroSection>

  <h1>Contact</h1>
  <blockquote>
    To get more specific information about this app<br>
    you can get in touch with me by any means you find appropriate.
  </blockquote>

</HeroSection>

<section class="container">
    <address>
    <h3>EmberJS Blog App</h3>
    <p>
      Ia&scedil;i, Rom&acirc;nia
    </p>
    <dl>
        <dt>Phone:</dt>
        <dd><a href="tel:0040.729.062.628">+40.729.062.628</a></dd>
        <dt>Email:</dt>
        <dd><a href="mailto:iulianandriescu@gmail.com">iulianandriescu@gmail.com</a></dd>
    </dl>
  </address>

  <p>
    <LinkTo @route="index" class="btn btn-secondary" role="button">Home</LinkTo>
    <LinkTo @route="about" class="btn btn-secondary" role="button">About the Project</LinkTo>
  </p>  
</section>