{{page-title "NotFound"}}
<HeroSection>

    <h1 class="font-dancing text-center mb-3" style="font-size:5rem">404</h1>
    <h4 class="font-dancing">An app built with ember-data, and JsonAPI</h4>

    <blockquote>
        You can check the 
        <a href="https://github.com/iurianu/ember-blog-rest-api" rel="tag nofollow noopener noreferrer" target="_blank">
        Github  Repository</a> for the previous project, or see it live 
        <a href="https://iurianu-ember-blog.netlify.app/" rel="tag nofollow noopener noreferrer" target="_blank">here</a>.
    </blockquote>

</HeroSection>
{{outlet}}